@model ForgotPasswordConfirmationViewModel

    <div class="raw">
        @if (ViewData["PasswordResetedSuccessfully"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["PasswordResetedSuccessfully"].ToString()
            </div>
        }

        <div class="col-md-12">
            <form asp-action="ForgotPasswordConfirmation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div hidden>
                    <label asp-for="UserId"></label>
                    <input asp-for="UserId" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-secondary" />
                    <a asp-action="Login" class="btn btn-secondary"> Cancel</a>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
