@model SecretQuestionConfirmationViewModel

    <div class="col-md-12 center">
        <form method="post">
            <label asp-for="SecretQuestion"></label>
            <p>@ViewData["Question"]</p>

            <div>
                <label asp-for="UserAnswer"></label>
                <input asp-for="UserAnswer" class="form-control" placeholder="" />
                <span asp-validation-for="UserAnswer" class="text-danger"> </span>
            </div>
            <div hidden>
                <label asp-for="UserId"></label>
                <input asp-for="UserId" class="form-control" />
            </div>

            <input type="submit" value="Submit" class="btn btn-secondary" />
            <a asp-action="Login" class="btn btn-secondary"> Cancel</a>
            </form>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}