
body {
  /* background-color: #EEE; */
  font-family: Roboto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.header .title {
  color: #5d5d5d;
  text-align: center;
  font-weight: normal;
}

.content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1100px) {
  .content {
    justify-content: space-around;
  }
}

.group {
  margin: 10px;
}

.group .circular-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.twitter {
  background-color: #FAFAFA;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.6);
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  width: 140px;
  border-radius: 2px;
  margin: 1em auto;
  -webkit-transition: box-shadow .3s linear;
  transition: box-shadow .3s linear;
}
.twitter:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#footer {
  margin-top: 30px;
}

@-webkit-keyframes turning_cw {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turning_cw {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}