@model BBS.Models.Models.DepositType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DepositType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitsDescription" class="control-label"></label>
                <input asp-for="BenefitsDescription" class="form-control" />
                <span asp-validation-for="BenefitsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualRate" class="control-label"></label>
                <input asp-for="AnnualRate" class="form-control" />
                <span asp-validation-for="AnnualRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BonusRate" class="control-label"></label>
                <input asp-for="BonusRate" class="form-control" />
                <span asp-validation-for="BonusRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestPaymentId" class="control-label"></label>
                <select asp-for="InterestPaymentId" class="form-control" asp-items="ViewBag.InterestPaymentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MinimumDepositAmount" class="control-label"></label>
                <input asp-for="MinimumDepositAmount" class="form-control" />
                <span asp-validation-for="MinimumDepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumReplenishmentAmount" class="control-label"></label>
                <input asp-for="MinimumReplenishmentAmount" class="form-control" />
                <span asp-validation-for="MinimumReplenishmentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumDepositAmount" class="control-label"></label>
                <input asp-for="MaximumDepositAmount" class="form-control" />
                <span asp-validation-for="MaximumDepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" class="form-control" asp-items="ViewBag.CurrencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepositTermId" class="control-label"></label>
                <select asp-for="DepositTermId" class="form-control" asp-items="ViewBag.DepositTermId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
