@using Microsoft.AspNetCore.Identity
@inject SignInManager<BBS.Models.Models.User> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Banking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/circle.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicondirectory/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicondirectory/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicondirectory/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicondirectory/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicondirectory/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicondirectory/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicondirectory/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicondirectory/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicondirectory/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicondirectory/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicondirectory/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicondirectory/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicondirectory/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="~/images/favicondirectory/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel='icon' href='~/images/favicondirectory/favicon.ico' type='image/x-icon' />
    <link rel="manifest" href="~/images/favicondirectory/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicondirectory/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <header>
        @await Html.PartialAsync("_HeaderPartial")
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BBS.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
